# Copyright 2024-2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: spanner.cnrm.cloud.google.com/v1beta1
kind: SpannerInstance
metadata:
  labels:
    kind: spanner-instance
  name: {{GOOGLE_SPANNER_INSTANCE}}
  namespace: {{GOOGLE_NAMESPACE}}
  annotations:
    cnrm.cloud.google.com/project-id: {{GOOGLE_PROJECT}}
spec:
  resourceID: {{GOOGLE_SPANNER_INSTANCE}}
  config: regional-{{GOOGLE_REGION}}
  displayName: Network Topology
  processingUnits: 100
---
apiVersion: spanner.cnrm.cloud.google.com/v1beta1
kind: SpannerDatabase
metadata:
  labels:
    kind: spanner-database
  name: {{GOOGLE_SPANNER_DATABASE}}
  namespace: {{GOOGLE_NAMESPACE}}
  annotations:
    cnrm.cloud.google.com/project-id: {{GOOGLE_PROJECT}}
spec:
  resourceID: {{GOOGLE_SPANNER_DATABASE}}
  instanceRef:
    name: {{GOOGLE_SPANNER_INSTANCE}}
  ddl:
  - "CREATE TABLE PhysicalRouter (
      id STRING(MAX) NOT NULL,
      name STRING(MAX) NOT NULL,
      vendor STRING(MAX),
      model STRING(MAX),
      location_city STRING(MAX),
      location_lat FLOAT64,
      location_lon FLOAT64,
      role STRING(MAX),
      status STRING(MAX),
      config JSON,
      valid_start_ts TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
      valid_end_ts TIMESTAMP OPTIONS (allow_commit_timestamp=true)
    ) PRIMARY KEY (id, valid_start_ts DESC)"
  - "CREATE TABLE PhysicalInterface (
      id STRING(MAX) NOT NULL,
      router_id STRING(MAX) NOT NULL,
      name STRING(MAX) NOT NULL,
      speed STRING(MAX),
      media_type STRING(MAX),
      ip_address STRING(MAX),
      mac_address STRING(MAX),
      status STRING(MAX),
      valid_start_ts TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
      valid_end_ts TIMESTAMP OPTIONS (allow_commit_timestamp=true)
    ) PRIMARY KEY (id, valid_start_ts DESC)"
  - "CREATE TABLE PhysicalLink (
      id STRING(MAX) NOT NULL,
      name STRING(MAX),
      bandwidth STRING(MAX),
      status STRING(MAX),
      properties JSON,
      valid_start_ts TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
      valid_end_ts TIMESTAMP OPTIONS (allow_commit_timestamp=true)
    ) PRIMARY KEY (id, valid_start_ts DESC)"
  - "CREATE TABLE Device (
      id STRING(MAX) NOT NULL,
      name STRING(MAX) NOT NULL,
      router_id STRING(MAX),
      network_name STRING(MAX),
      ip_address STRING(MAX),
      gateway STRING(MAX),
      vlan INT64,
      status STRING(MAX),
      config JSON,
      valid_start_ts TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
      valid_end_ts TIMESTAMP OPTIONS (allow_commit_timestamp=true)
    ) PRIMARY KEY (id, valid_start_ts DESC)"
  - "CREATE TABLE Customer (
      id STRING(MAX) NOT NULL,
      name STRING(MAX) NOT NULL,
      type STRING(MAX),
      properties JSON,
      last_updated TIMESTAMP OPTIONS (allow_commit_timestamp=true)
    ) PRIMARY KEY (id)"
  - "CREATE TABLE L3VPNService (
      id STRING(MAX) NOT NULL,
      customer_id STRING(MAX) NOT NULL,
      name STRING(MAX) NOT NULL,
      service_type STRING(MAX),
      topology STRING(MAX),
      status STRING(MAX),
      config JSON,
      valid_start_ts TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
      valid_end_ts TIMESTAMP OPTIONS (allow_commit_timestamp=true)
    ) PRIMARY KEY (id, valid_start_ts DESC)"
  - "CREATE TABLE VRF (
      id STRING(MAX) NOT NULL,
      router_id STRING(MAX) NOT NULL,
      vpn_id STRING(MAX),
      name STRING(MAX) NOT NULL,
      rd STRING(MAX),
      status STRING(MAX),
      config JSON,
      valid_start_ts TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
      valid_end_ts TIMESTAMP OPTIONS (allow_commit_timestamp=true)
    ) PRIMARY KEY (id, valid_start_ts DESC)"
  - "CREATE TABLE BGPSession (
      id STRING(MAX) NOT NULL,
      vrf_id STRING(MAX) NOT NULL,
      local_as INT64,
      remote_as INT64,
      peer_ip STRING(MAX),
      status STRING(MAX),
      config JSON,
      valid_start_ts TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
      valid_end_ts TIMESTAMP OPTIONS (allow_commit_timestamp=true)
    ) PRIMARY KEY (id, valid_start_ts DESC)"
  - "CREATE TABLE LogicalSubnet (
      id STRING(MAX) NOT NULL,
      cidr STRING(MAX) NOT NULL,
      network_type STRING(MAX),
      description STRING(MAX),
      operational_state STRING(MAX),
      mtu INT64,
      mac_address STRING(MAX),
      bridge_ip STRING(MAX),
      host_device_name STRING(MAX),
      properties JSON,
      valid_start_ts TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
      valid_end_ts TIMESTAMP OPTIONS (allow_commit_timestamp=true)
    ) PRIMARY KEY (id, valid_start_ts DESC)"
  - "CREATE TABLE Interface_Link (
      interface_id STRING(MAX) NOT NULL,
      link_id STRING(MAX) NOT NULL,
      valid_start_ts TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
      valid_end_ts TIMESTAMP OPTIONS (allow_commit_timestamp=true)
    ) PRIMARY KEY (interface_id, link_id, valid_start_ts DESC)"
  - "CREATE TABLE BGP_Peering (
      session_id_a STRING(MAX) NOT NULL,
      session_id_b STRING(MAX) NOT NULL,
      valid_start_ts TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
      valid_end_ts TIMESTAMP OPTIONS (allow_commit_timestamp=true)
    ) PRIMARY KEY (session_id_a, session_id_b, valid_start_ts DESC)"
  - "CREATE TABLE Subnet_Association (
      entity_id STRING(MAX) NOT NULL,
      subnet_id STRING(MAX) NOT NULL,
      entity_type STRING(MAX),
      valid_start_ts TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
      valid_end_ts TIMESTAMP OPTIONS (allow_commit_timestamp=true)
    ) PRIMARY KEY (entity_id, subnet_id, valid_start_ts DESC)"
  - "CREATE TABLE NodeEmbedding (
       id STRING(36) NOT NULL DEFAULT (GENERATE_UUID()),
       node_id STRING(MAX) NOT NULL,
       node_type STRING(MAX) NOT NULL,
       hetgnn_embedding ARRAY<FLOAT64>,
       hetgnn_score FLOAT64,
       anomaly_explanation JSON,
       timestamp TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true)
     ) PRIMARY KEY (node_id, timestamp DESC)"
  - "CREATE TABLE Incident (
        id STRING(MAX) NOT NULL,
        recordedTimestamp TIMESTAMP NOT NULL,
        agentTaskId String(MAX) NOT NULL,
        issue JSON NOT NULL,
        strategy JSON,
        root_cause String(MAX),
        resolution String(MAX),
        resolvedTimestamp TIMESTAMP
      ) PRIMARY KEY (id)"
  - "CREATE TABLE KgLogEntryNode (
       id STRING(17) NOT NULL,
       timestamp TIMESTAMP NOT NULL,
       severity STRING(16) NOT NULL,
       source STRING(MAX),
       message STRING(MAX),
       content STRING(MAX),
       embedding ARRAY<FLOAT64>
    ) PRIMARY KEY (id, timestamp)"
  - "CREATE INDEX KgLogEntryNodeIdx1 ON KgLogEntryNode(timestamp DESC) STORING (severity, source, message, content, embedding)"
  - "CREATE TABLE NetworkMetrics (
        id STRING(36) NOT NULL DEFAULT (GENERATE_UUID()),
        timestamp TIMESTAMP NOT NULL,
        node_name STRING(MAX),
        metric_name STRING(MAX),
        metric_type STRING(MAX),
        kind STRING(MAX) NOT NULL,
        value FLOAT64,
        labels JSON,
        interface STRING(MAX)
    ) PRIMARY KEY (id, timestamp)"
  - "CREATE INDEX NetworkMetricsIdx1 ON NetworkMetrics(timestamp DESC) STORING (node_name, metric_name, metric_type, kind, value, labels, interface)"
  - "CREATE TABLE ServicePerformance (
        id STRING(36) NOT NULL,
        service_type STRING(MAX) NOT NULL,
        response_time_ms FLOAT64,
        timestamp TIMESTAMP NOT NULL,
        userid STRING(MAX),
        error STRING(MAX),
        node STRING(MAX),
        vpn_id STRING(MAX)
      ) PRIMARY KEY (id)"
  - "CREATE TABLE AgentTrace (
       id STRING(36) NOT NULL,
       event_type STRING(MAX) NOT NULL,
       trace_id STRING(MAX) NOT NULL,
       span_id STRING(MAX) NOT NULL,
       parent_span_id STRING(MAX),
       operation_name STRING(MAX) NOT NULL,
       timestamp TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
       details JSON
    ) PRIMARY KEY(id)"
  - "CREATE CHANGE STREAM AgentTraceStream
       FOR AgentTrace
       OPTIONS (
         retention_period = '7d',
         value_capture_type = 'NEW_ROW'
       )"
  - "CREATE TABLE Orders (
       id STRING(36) NOT NULL,
       timestamp TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
       customer_id STRING(MAX),
       customer STRING(MAX) NOT NULL
     ) PRIMARY KEY(id)"
  - "CREATE VIEW HasInterface_Edge SQL SECURITY INVOKER AS 
       SELECT 
         r.id AS router_id, r.valid_start_ts AS router_ts,
         i.id AS interface_id, i.valid_start_ts AS interface_ts
       FROM PhysicalRouter r
       JOIN PhysicalInterface i
       ON r.id = i.router_id
       AND r.valid_start_ts < IFNULL(i.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z'))
       AND IFNULL(r.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z')) > i.valid_start_ts
       GROUP BY router_id, router_ts, interface_id, interface_ts"
  - "CREATE VIEW ConnectsTo_Edge SQL SECURITY INVOKER AS 
       SELECT 
         i.id AS interface_id, i.valid_start_ts AS interface_ts,
         l.id AS link_id, l.valid_start_ts AS link_ts
       FROM PhysicalInterface i
       JOIN Interface_Link il ON i.id = il.interface_id
       JOIN PhysicalLink l ON il.link_id = l.id
       WHERE i.valid_start_ts < IFNULL(l.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z'))
       AND IFNULL(i.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z')) > l.valid_start_ts
       GROUP BY interface_id, interface_ts, link_id, link_ts"
  - "CREATE VIEW RouterHasEmbedding_Edge SQL SECURITY INVOKER AS
       SELECT
         r.id AS router_id, r.valid_start_ts AS router_ts,
         e.node_id AS embedding_node_id, e.timestamp AS embedding_ts
       FROM PhysicalRouter r
       JOIN NodeEmbedding e ON r.id = e.node_id
       WHERE e.timestamp >= r.valid_start_ts AND e.timestamp < IFNULL(r.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z'))
       GROUP BY router_id, router_ts, embedding_node_id, embedding_ts"
  - "CREATE VIEW InterfaceHasEmbedding_Edge SQL SECURITY INVOKER AS
       SELECT
         i.id AS interface_id, i.valid_start_ts AS interface_ts,
         e.node_id AS embedding_node_id, e.timestamp AS embedding_ts
       FROM PhysicalInterface i
       JOIN NodeEmbedding e ON i.id = e.node_id
       WHERE e.timestamp >= i.valid_start_ts AND e.timestamp < IFNULL(i.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z'))
       GROUP BY interface_id, interface_ts, embedding_node_id, embedding_ts"
  - "CREATE VIEW LinkedTo_Edge SQL SECURITY INVOKER AS 
       SELECT 
         l.id AS link_id, l.valid_start_ts AS link_ts,
         i.id AS interface_id, i.valid_start_ts AS interface_ts
       FROM PhysicalLink l
       JOIN Interface_Link il ON l.id = il.link_id
       JOIN PhysicalInterface i ON il.interface_id = i.id
       WHERE l.valid_start_ts < IFNULL(i.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z'))
       AND IFNULL(l.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z')) > i.valid_start_ts
       GROUP BY link_id, link_ts, interface_id, interface_ts"
  - "CREATE VIEW OwnedBy_Edge SQL SECURITY INVOKER AS
       SELECT
         vpn.id AS vpn_id, vpn.valid_start_ts AS vpn_ts,
         c.id AS customer_id
       FROM L3VPNService vpn
       JOIN Customer c ON vpn.customer_id = c.id
       GROUP BY vpn_id, vpn_ts, customer_id"
  - "CREATE VIEW RealizesVPN_Edge SQL SECURITY INVOKER AS
       SELECT
         vrf.id AS vrf_id, vrf.valid_start_ts AS vrf_ts,
         vpn.id AS vpn_id, vpn.valid_start_ts AS vpn_ts
       FROM VRF vrf
       JOIN L3VPNService vpn
       ON vrf.vpn_id = vpn.id
       AND vrf.valid_start_ts < IFNULL(vpn.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z'))
       AND IFNULL(vrf.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z')) > vpn.valid_start_ts
       GROUP BY vrf_id, vrf_ts, vpn_id, vpn_ts"
  - "CREATE VIEW LocatedOn_Edge SQL SECURITY INVOKER AS
       SELECT
         vrf.id AS vrf_id, vrf.valid_start_ts AS vrf_ts,
         r.id AS router_id, r.valid_start_ts AS router_ts
       FROM VRF vrf
       JOIN PhysicalRouter r
       ON vrf.router_id = r.id
       AND vrf.valid_start_ts < IFNULL(r.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z'))
       AND IFNULL(vrf.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z')) > r.valid_start_ts
       GROUP BY vrf_id, vrf_ts, router_id, router_ts"
  - "CREATE VIEW BelongsToVRF_Edge SQL SECURITY INVOKER AS
       SELECT
         bgp.id AS bgp_id, bgp.valid_start_ts AS bgp_ts,
         vrf.id AS vrf_id, vrf.valid_start_ts AS vrf_ts
       FROM BGPSession bgp
       JOIN VRF vrf
       ON bgp.vrf_id = vrf.id
       AND bgp.valid_start_ts < IFNULL(vrf.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z'))
       AND IFNULL(bgp.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z')) > vrf.valid_start_ts
       GROUP BY bgp_id, bgp_ts, vrf_id, vrf_ts"
  - "CREATE VIEW PeersWith_Edge SQL SECURITY INVOKER AS
       SELECT
         bgp1.id AS bgp1_id, bgp1.valid_start_ts AS bgp1_ts,
         bgp2.id AS bgp2_id, bgp2.valid_start_ts AS bgp2_ts
       FROM BGPSession bgp1
       JOIN BGP_Peering bp ON bgp1.id = bp.session_id_a
       JOIN BGPSession bgp2 ON bp.session_id_b = bgp2.id
       WHERE bgp1.valid_start_ts < IFNULL(bgp2.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z'))
       AND IFNULL(bgp1.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z')) > bgp2.valid_start_ts
       GROUP BY bgp1_id, bgp1_ts, bgp2_id, bgp2_ts"
  - "CREATE VIEW AssociatedWith_Edge SQL SECURITY INVOKER AS
       SELECT
         i.id AS interface_id, i.valid_start_ts AS interface_ts,
         s.id AS subnet_id, s.valid_start_ts AS subnet_ts
       FROM PhysicalInterface i
       JOIN Subnet_Association sa ON i.id = sa.entity_id
       JOIN LogicalSubnet s ON sa.subnet_id = s.id
       WHERE i.valid_start_ts < IFNULL(s.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z'))
       AND IFNULL(i.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z')) > s.valid_start_ts
       GROUP BY interface_id, interface_ts, subnet_id, subnet_ts"
  - "CREATE VIEW ConnectedTo_Edge SQL SECURITY INVOKER AS
       SELECT
         d.id AS device_id, d.valid_start_ts AS device_ts,
         r.id AS router_id, r.valid_start_ts AS router_ts
       FROM Device d
       JOIN PhysicalRouter r
       ON d.router_id = r.id
       AND d.valid_start_ts < IFNULL(r.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z'))
       AND IFNULL(d.valid_end_ts, TIMESTAMP('9999-12-31T23:59:59Z')) > r.valid_start_ts
       GROUP BY device_id, device_ts, router_id, router_ts"
  - "CREATE OR REPLACE PROPERTY GRAPH networkGraph
       NODE TABLES (
         PhysicalRouter,
         PhysicalInterface,
         PhysicalLink,
         Device,
         Customer,
         L3VPNService,
         VRF,
         BGPSession,
         LogicalSubnet,
         Incident,
         ServicePerformance,
         Orders,
         AgentTrace,
         NetworkMetrics,
         KgLogEntryNode,
         NodeEmbedding
       )
       EDGE TABLES (
         HasInterface_Edge 
           AS HasInterface
           KEY (router_id, router_ts, interface_id, interface_ts)
           SOURCE KEY (router_id, router_ts) REFERENCES PhysicalRouter (id, valid_start_ts)
           DESTINATION KEY (interface_id, interface_ts) REFERENCES PhysicalInterface (id, valid_start_ts),
         ConnectsTo_Edge 
           AS ConnectsTo
           KEY (interface_id, interface_ts, link_id, link_ts)
           SOURCE KEY (interface_id, interface_ts) REFERENCES PhysicalInterface (id, valid_start_ts)
           DESTINATION KEY (link_id, link_ts) REFERENCES PhysicalLink (id, valid_start_ts),
          RouterHasEmbedding_Edge 
            AS RouterHasEmbedding
            KEY (router_id, router_ts, embedding_node_id, embedding_ts)
            SOURCE KEY (router_id, router_ts) REFERENCES PhysicalRouter (id, valid_start_ts)
            DESTINATION KEY (embedding_node_id, embedding_ts) REFERENCES NodeEmbedding (node_id, timestamp),
          InterfaceHasEmbedding_Edge 
            AS InterfaceHasEmbedding
            KEY (interface_id, interface_ts, embedding_node_id, embedding_ts)
            SOURCE KEY (interface_id, interface_ts) REFERENCES PhysicalInterface (id, valid_start_ts)
            DESTINATION KEY (embedding_node_id, embedding_ts) REFERENCES NodeEmbedding (node_id, timestamp),
         LinkedTo_Edge 
           AS LinkedTo
           KEY (link_id, link_ts, interface_id, interface_ts)
           SOURCE KEY (link_id, link_ts) REFERENCES PhysicalLink (id, valid_start_ts)
           DESTINATION KEY (interface_id, interface_ts) REFERENCES PhysicalInterface (id, valid_start_ts),
         OwnedBy_Edge 
           AS OwnedBy
           KEY (vpn_id, vpn_ts, customer_id)
           SOURCE KEY (vpn_id, vpn_ts) REFERENCES L3VPNService (id, valid_start_ts)
           DESTINATION KEY (customer_id) REFERENCES Customer (id),
         RealizesVPN_Edge 
           AS RealizesVPN
           KEY (vrf_id, vrf_ts, vpn_id, vpn_ts)
           SOURCE KEY (vrf_id, vrf_ts) REFERENCES VRF (id, valid_start_ts)
           DESTINATION KEY (vpn_id, vpn_ts) REFERENCES L3VPNService (id, valid_start_ts),
         LocatedOn_Edge 
           AS LocatedOn
           KEY (vrf_id, vrf_ts, router_id, router_ts)
           SOURCE KEY (vrf_id, vrf_ts) REFERENCES VRF (id, valid_start_ts)
           DESTINATION KEY (router_id, router_ts) REFERENCES PhysicalRouter (id, valid_start_ts),
         BelongsToVRF_Edge 
           AS BelongsToVRF
           KEY (bgp_id, bgp_ts, vrf_id, vrf_ts)
           SOURCE KEY (bgp_id, bgp_ts) REFERENCES BGPSession (id, valid_start_ts)
           DESTINATION KEY (vrf_id, vrf_ts) REFERENCES VRF (id, valid_start_ts),
         PeersWith_Edge 
           AS PeersWith
           KEY (bgp1_id, bgp1_ts, bgp2_id, bgp2_ts)
           SOURCE KEY (bgp1_id, bgp1_ts) REFERENCES BGPSession (id, valid_start_ts)
           DESTINATION KEY (bgp2_id, bgp2_ts) REFERENCES BGPSession (id, valid_start_ts),
         AssociatedWith_Edge 
           AS AssociatedWith
           KEY (interface_id, interface_ts, subnet_id, subnet_ts)
           SOURCE KEY (interface_id, interface_ts) REFERENCES PhysicalInterface (id, valid_start_ts)
           DESTINATION KEY (subnet_id, subnet_ts) REFERENCES LogicalSubnet (id, valid_start_ts),
         ConnectedTo_Edge 
           AS ConnectedTo
           KEY (device_id, device_ts, router_id, router_ts)
           SOURCE KEY (device_id, device_ts) REFERENCES Device (id, valid_start_ts)
           DESTINATION KEY (router_id, router_ts) REFERENCES PhysicalRouter (id, valid_start_ts),
         Orders AS PlacedBy
           SOURCE KEY (customer_id) REFERENCES Customer (id)
           DESTINATION KEY (id) REFERENCES Orders (id)
       )"
